{% extends 'base.html.twig' %}

{% block title %}Editer mon profil{% endblock %}

{% block body %}
    <h1>Editer mon profil</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_home_index') }}">Retour au site</a>

    {{ include('profile/_delete_form.html.twig') }}
{% endblock %}
