{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
    <div class="container">
        <h1>À Propos</h1>
        <!-- Contenu de la page À Propos -->
    </div>
{% endblock %}
