{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
    <div class="container">
        <h1>À Propos</h1>
        <br>
        <p>Notre site a pour objectif de permettre aux étudiants du programme MIAGE à l'Université Paris 1 Panthéon-Sorbonne de noter les intervenants qui interviennent dans leurs cours. Nous croyons fermement que les opinions et les retours des étudiants sont précieux pour améliorer la qualité de l'enseignement et pour permettre une meilleure expérience d'apprentissage.</p>

        <p>En offrant une plateforme où les étudiants peuvent partager leurs évaluations et leurs commentaires sur les intervenants, nous visons à redonner la parole aux étudiants et à favoriser un environnement d'apprentissage transparent et collaboratif.</p>

        <p>Nous encourageons tous les étudiants de MIAGE à Paris 1 Panthéon-Sorbonne à utiliser notre site pour partager leurs opinions, à contribuer à la communauté étudiante et à promouvoir l'amélioration continue de l'enseignement.</p>
    </div>
{% endblock %}
