{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container">
        <h1>Contact</h1>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h3>Formulaire de Contact</h3>
                <form>
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input type="text" class="form-control" id="name" placeholder="Entrez votre nom">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Entrez votre email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="5" placeholder="Entrez votre message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
            <div class="col-md-6">
                <h3>Nos Coordonnées</h3>
                <p><strong>Adresse :</strong><a href="https://www.google.com/maps/place/90+Rue+de+Tolbiac,+75013+Paris/@48.8274254,2.3619039,17z/data=!3m1!4b1!4m6!3m5!1s0x47e67227899bdb61:0x2304bd6ee077cc52!8m2!3d48.8274219!4d2.3644788!16s%2Fg%2F11b8v6yks5?entry=ttu" target="_blank"> 90 rue de Tolbiac, Paris, France</a></p>
                <p><strong>Téléphone :</strong><a href="tel:+330601020304"> +33 6 01 02 03 04</a></p>
                <p><strong>Email :</strong><a href="mailto:ratemyintervenant@gmail.com"> ratemyintervenant@gmail.com</a></p>
            </div>
        </div>
    </div>
{% endblock %}

