{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nos Services</h1>
        <!-- Contenu de la page Services -->
    </div>
{% endblock %}
