{% extends 'base.html.twig' %}

{% block title %}Verifie ton email
{% endblock %}

{% block stylesheet%}
	<link rel="stylesheet" href="{{ asset('css/request_email.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Verifie ton Email</h1>

		<p>Entre ton adresse ci-dessous afin que nous t'envoyions un mail de confirmation:</p>

		{{ include('registration/_form.req_email.html.twig', {'button_label': 'Update'}) }}


		<p class="text-center">Tu as déjà vérifié ton email ?
			<a href="{{ path('app_login') }}" class="btn btn-secondary">Se connecter</a>
		</p>
	</div>
{% endblock %}
