{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0">
                    <div class="card-body">
                        {% for flash_error in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                        <h1 class="card-title text-center mb-4">Réinitialiser votre mot de passe</h1>

                        {{ form_start(requestForm, {'attr': {'novalidate': 'true'}}) }}  <div class="mb-3">
                            {{ form_row(requestForm.email, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Entrer votre adresse mail'}}) }}  </div>
                        <div class="mb-3">
                            <small>
                                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.                            </small>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-block">Envoyer moi un mail pour réinitialiser mon mot de passe</button>
                        </div>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
