.card {
    margin: 15px;
    margin-right: 0px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: none;
    overflow:hidden;
}


.card-body::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

.card-body::-webkit-scrollbar-track {
    background-color: transparent; /* Set the background color of the scrollbar track */
}

.card-body::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Set the color of the scrollbar thumb */
    border-radius: 20px; /* Add rounded corners to the scrollbar thumb */
}

.card-body::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Change color on hover if desired */
}







.card-img-top {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.card-body {
    padding: 15px;
    height: calc(100% - 70%);
    overflow-y: auto;
}


@media (max-width: 768px) {
    .col-lg-4 {
        flex: 1 0 33.33%;
        padding: 10px;
    }

    .col-md-6 {
        flex: 1 0 50%;
        padding: 10px;
    }

    .col-sm-12 {
        flex: 1 0 100%;
        padding: 10px;
    }
}



.container-center {
    margin-right: 15px;
    margin-left: 15px;
}