.card {

    border-color: #ddd; 
}



.form-group {
    margin-bottom: 1rem;
}


.form-control::placeholder {
    color: #999;
}


#review_content {
    height: 200px;
}



.btn {
    padding: 10px 20px; 
    border-radius: 5px; 
    font-weight: bold;
}



.btn:hover {
    background-color: #ddd;
}


label {
    font-weight: normal; 
    display: block; 
    margin-bottom: 5px; 
}
