.card {
    border: none;
    box-shadow: none !important;
}


h1{
    text-align: center;
}

.overall-form {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 535px;
    align-items: center;
}

.form-group {
    margin-bottom: 1rem;
}




.form-control::placeholder {
    color: #999;
}


#review_content {
    height: 200px;
}






label {
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}