{% extends 'base.html.twig' %}

{% block title %}Intervenant{% endblock %}

{% block body %}
    <h1>{{ intervenant.name }}</h1>
    <h2>Moyenne: {{ intervenant.average }}/5</h2>
    <img height="200px" width="200 px" class="img-thumbnail" src = {{ asset("uploads/images/" ~ intervenant.profilePictureFileName) }}>
    <a class="dropdown-item" href="{{ path('app_blog_index')}}">Retour à la liste</a>


    <h1>Reviews</h1>

        {% for review in intervenant.reviews %}
    {%  include "review/show.html.twig" %}
        {% endfor %}






{% endblock %}
