{% extends 'base.html.twig' %}

{% block title %}Mot de Passe Oublié{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="h2 mb-3 font-weight-normal text-left">Mot de Passe Oublié</h1>
                <!-- Formulaire de mot de passe oublié (si nécessaire) -->
            </div>
        </div>
    </div>
{% endblock %}
