{% extends 'base.html.twig' %}

{% block title %}Rate my intervenant{% endblock %}

{% block body %}
    <h1>Modifier mon commentaire</h1>

    {{ include('review/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
