{% extends 'base.html.twig' %}

{% block title %}Rate my intervenant{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header">
                        {{ block('title') }}
                    </div>
                    <div class="card-body">
                        <h1 class="mb-4">Modifier mon retour</h1>

                        {{ include('review/_form.html.twig', {'button_label': 'Modifier '}) }}
                        {% if review is defined %}
                            <a title="page intervenant" href="{{ path('app_intervenant_show', {"id":review.intervenant.id}) }}" class="btn btn-secondary mt-4">Retour à l'intervenant</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
