{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}
{% block header %} {% endblock %}
{% block footer %} {% endblock %}
{% block body %}
   <div class="row">
        <div class="col-12">
            <h1>{{ review.grade }}</h1>
            <main>{{ review.content }}</main>
            <small>{{ review.author.name }}</small>
        </div>
   </div>


{% endblock %}
