{%  extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
{% for professeur in professeurs %}
<div class="card inline-flex" style="width: 18rem;">
  <img src="{{ asset("uploads/images/" ~ professeur.profilePictureFileName) }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title">{{ professeur.name }}</h1>
    <a href='{{ path('app_intervenant_show', { 'id' : professeur.id}) }}' class="btn btn-primary">Voir</a>

  </div></div>
{% endfor %}

{% endblock %}