.global-footer {
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    text-align: center;
    padding-top: 30px;
    margin-top: 0px;
    padding-bottom: 0px;
}


.col-md-4 .btn-secondary {
    color: black;
    background-color: transparent;
    border: none;
}

.col-md-4 .btn-secondary:hover {
    text-decoration: underline;
}

.col-md-4 .btn-secondary:active {
    background-color: grey !important;   
    color:black !important; 
}

.col-md-4 .footer-link {
    color: black;
}

.col-md-4 .footer-link:hover {
    text-decoration: underline;
}

.col-md-4 .footer-link:active {
    color: blue;
}


.footer-credits{
    margin-top: 0px;
    padding-top: 0px;
}