/* Custom CSS styles for form */


.form-group .btn-primary {
    padding-left: 250px;
    padding-right: 250px;
    /* Increased margin for button */
}

.form-group .form-control {
    width: 535px;    
    /* Increase the width of the input */
}
