{% extends 'base.html.twig' %}

{% block title %}New Contact
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="content-container">
			<h1 class="title">Contactez-nous</h1>
			<p class="description contact-text-1">Vous avez une question ou une suggestion ? N'hésitez pas à nous contacter en remplissant le formulaire ci-dessous.</p>
			<p class="description contact-text-2">Nous vous répondrons dans les plus brefs délais.</p>
			<p class="description contact-text-3">Vous pouvez également nous contacter par téléphone au 01 23 45 67 89 ou par mail à l'adresse suivante: ratemyintervenant@gmail.com</p>
		</div>
		<div class="form-container">
			{{ include('contact/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
