{% extends 'emails/base.email.html.twig' %}

{% block title %}Email Confirmation{% endblock %}

{% block content %}
    <h1>Bonjour ! Bienvenue sur Rate My Intervenant. </h1>

    <p>Merci de confirmer ton email en cliquant sur le lien ci-dessous:</p>
    <p><a href="{{ signedUrl }}">Confirmer mon Email</a></p>

    <p>Le lien expirera dans 1 heure.</p>

    <p>Cheers!</p>
{% endblock %}
