{% extends 'base.html.twig' %}

{% block title %}Créer admin{% endblock %}

{% block body %}
    <h1>Créer un nouveau compte administrateur</h1>

    {{ include('makeadminview/_form.html.twig') }}

{% endblock %}
